# Arquivos de documentação
*.md

# Arquivos de build
.next/
out/
build/
dist/

# Dependências
node_modules/

# Arquivos de ambiente
.env
.env.local
.env.production
.env.development

# Arquivos de configuração
.vscode/
.idea/
